body {
  background-color: lavender;
  margin: 0;
}
/* Nav Bar--------------- */
.navBar {
  border: 1px solid black;
  background-color: grey;
  min-height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.leftNav {
  width: 40%;
  min-height: 50px;
}
.midNav {
  width: 20%;
  min-height: 50px;
  font-family: 'Ubuntu', sans-serif;
  color: #c9c9ff;
}
.rightNav{
  width: 40%;
  min-height: 50px;
  text-align: right;
}


.login button {
  margin: 5px;
  border: none;
  border-radius: 12px;
  background-color: white;
  padding: 0;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 10px;
}
.register > button {
  margin: 5px;
  border: none;
  border-radius: 12px;
  background-color: white;
  padding: 0;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 10px;
}
.login > h4 {
  display: inline-block;
}
.logRegBox p:hover{
  cursor:pointer;
}
.error {
  flex-direction: column;
  display: block;
  color: white;
}
.regForm {
  display: flex;
}

/* FONT SIZE ----------------*/
.signUpBtn, .logInBtn, .logOutBtn, .error {
  font-size: 20px;
}
.rightNav > p {
  font-size: 20px
}
.showFavesBtn {
  font-size: 14px !important;
}
.midNav > h1 {
  font-size: 40px;
}
.displayQBox > p{
  font-size: 30px;
}

/* Questions display-------------- */
.displayQBox {
  border: 2px dashed black;
  min-height: 100px;
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
  z-index: 0;
}
#displayQ {
  text-align: center;
}

/* Favorite heart button----------------- */
#faveBtn {
  /* display: none; */
  background: none;
  border: none;
  font-size: 30px;
}
#faveBtn:active {
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}
#heart {
  color: grey;
}
.fa-heart:hover {
  cursor: pointer;
}


/* randomizer------------------- */
.randomizer {
  margin: 0 auto;
  justify-content: center;
  z-index: 0;
}
.btnWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  z-index: 0;

}
.genBtn {
  margin: 5px;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}
.genBtn:hover{
  cursor: pointer;
}
.genBtn:active {
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}
.genBtn:nth-of-type(1){
  background-color: pink;
}
.genBtn:nth-of-type(2){
  background-color: #c9c9ff;
}
.genBtn:nth-of-type(3){
  background-color: #cbf4b4;
}
.genBtn:nth-of-type(4){
  background-color: #f1cbff;
}
.genBtn:nth-of-type(5){
  background-color: #cbf4b4;
}
.genBtn:nth-of-type(6){
  background-color: #c9c9ff;
}

/* Faves Modal--------------------- */
.favesModalWrap {
  position: fixed;
  width: 100%;
  z-index: 10;
}
.showFavesModal {
  background: rgba(255, 192, 203, .7);
  text-align: center;
  margin: 0 auto;
  width: 50%;
  height: 210px;
}
.showFavesBtn {
  margin: 5px;
  border: none;
  border-radius: 12px;
  color: black;
  background-color: #f1cbff;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
}
.faveScroll {
  max-height: 120px;
  overflow-y: scroll;
}
.faveListTitle {
  /* border-bottom: 1px solid #FFFFFF; */
  margin: 0;
  padding-top: 5px;
}

/* MEDIA QUERIES--------------------------- */
/* @media (max-width: 500px) {
  .displayQBox {
    max-width: 500px;
  }

}

@media (max-width: 430px) {
  .displayQBox {
    max-width: 430px;
  }

} */
